@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

html{
    scroll-behavior: smooth;
}

body {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px;
}

h1,
h2,
h3,
p{
    margin: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
}