@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}