.main-produtos {
  background: var(--amarelo) url(../Imagens/produtos-fundo.jpg) no-repeat bottom;
  padding: 1px 0px;
}

.produtos {
  display: grid;
  max-width: 1200px;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  padding: 50px 0px;
  gap: 20px;
  padding: 60px;
}

.produtos h1 {
  margin-bottom: 10px;
}

.produtos p {
  background-color: #fb62fd;
  padding: 20px;
  text-align: center;
}

.conteudo-produtos {
  text-align: center;
}

.img-produtos {
  border-radius: 4px;
}

@media (max-width: 700px) {
  .produtos {
    grid-template-columns: 1fr;
    place-items: center;
    margin: 30px 0px;
    gap: 10px;
    padding: 30px;
  }
}

@media (max-width: 300px) {
  .produtos h1 {
    font-size: 24px;
  }

  .produtos p {
    font-size: 14px;
  }
}
