@import url(global.css);
@import url(utilitarios.css);
@import url(header.css);
@import url(produtos.css);
@import url(tipos.css);
@import url(diferencial.css);
@import url(footer.css);

:root{
    --rosa: #FD7DFF;
    --azul: #8AC6FF;
    --azul-2: #0084ff;
    --amarelo:#FFF8B8;
    --marrom: #F0AC97;
    --verde: #94FF8C;
    --verde-escuro: #41da36;
    --palace-font: 'Courgette', cursive;
    --h1-font: 'Suez One', serif;
    --p-font: 'Merriweather Sans', sans-serif;
}

body{
    background-color: var(--amarelo);

}